.footer {
	background: #fcbcbc;
	height: auto;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	bottom: 0px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}

.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 20px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	/* padding-left: 0;
	margin-top: 15px; */
	color: #F5F5F5;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
	float: left;
}
#info-doc{
	padding: 0 0 5px 0;
	display: block;
	float: none;
}
.footer a {
	color: #F5F5F5
}





