.background {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* font-size: calc(10px + 2vmin);
  color: white; */
}

html { height: 100%; }
#container {
  min-height: 100%;
  _height: 100%; /*for ie6*/
  }

  