.background {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* font-size: calc(10px + 2vmin);
  color: white; */
}

html {
  height: 100%;
  background-image: url(/bgs.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
   /* background-color: black; */
}
img {
  object-fit: cover;

}
#container {
  min-height: 100%;
  _height: 100%; /*for ie6*/
}
